.normal {
  text-align: center;
  background-image: url('https://gw.alipayobjects.com/mdn/rms_51f462/afts/img/A*9O0jSaXIYWEAAAAAAAAAAAAAARQnAQ');
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 100vh;
  background-color: #df5650;
  max-width: 768px;
  margin: auto;
}
